body {
    margin: 0;
    font-family: arial;
}

p {
    margin: 0;
    width: 50vw;
    text-align: center;
    font-size: 22px;
}

.container-1 {
    background-color: #0047ee;
    color: #fff;
    display: grid;
    justify-items: center;
    place-content: center;
    padding: 100px;
    gap: 4vh;
    text-align: left;
}

.button-started {
    background-color: #fff;
    border: none;
    font-size: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    transition: background-color 0.2s;
}
.button-started:hover {
    color: #fff;
    background-color: #0034af;
    cursor: pointer;
}

.container-cards {
    padding: 3vi;
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.card-container-1, .card-container-2 {
    border-radius: 20px;
    padding: 30px;
    width: 9vw;
    text-align: center;
    width: 30vw;
    box-shadow: #000 1px 0px 5px;
    transition: background-color 0.4s;
}

.card-container-1 {
    background-color: #0047ee;
    color: #fff;
}
.card-container-1:hover {
    background-color: #fff;
    color: #000;
    box-shadow: #000 1px 0px 10px;
}

.card-container-2:hover {
    background-color: #0047ee;
    color: #fff;
    box-shadow: #000 1px 0px 10px;
}

.title-1 {
    text-align: left;
    font-size: 22px;
    padding: 20px;
    margin: 0;
}

.linkTo {
    text-align: left;
    padding-left: 20px;
    padding-top: 7vh;
    cursor: pointer;
}

.foto-demo {
    color: black;
    background-color: #fff;
    border-radius: 30px;
    opacity: 55%;
    padding: 35px;
    width: 70%;
}

.foto-container {
    display: grid;
    place-items: center;
}

@media (max-width: 750px) {
    .container-cards {
        display: grid;
        gap: 20px;
    }
    .card-container-1, .card-container-2 {
        width: 70vw;
    }
}
